/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;

}


.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}



/* Header carrito*/
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.tituloPeliculas{
  
   
   font-family: cursive;
   padding: 10px;
   font-weight: 20px;
   font-size: 20px;
   


}

.informacionDescripcion{
    font-size: 20px;
}

.informacionGeneral{
   
    
   text-align: center;
    font-size: 25px;
    font-weight: bold;
  
    

}

.status {
    /* Estilo predeterminado (por ejemplo, verde) */
    color: green;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.status.red {
    /* Estilo para productos agotados (rojo) */
    color: red;
    text-align: center;
    font-size: 20px;
}




/* Main */



.tituloProducto{
   
    text-align: right;
    color:#141313;
    font-size:35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:60px;
    font-weight: 900;
    margin-right: 100px;
    background-color: var(--aqua);
    padding: 61px;
    
    
   
}



.item1{
    transition: ease-in-out .3s;
   
}

.item1:hover{
    transform: scale(1.5) translateY(10px);
}
.item1{ 
   
  
    max-width: 100%; /* Ajustar la imagen al ancho del contenedor */
    height: 480px;
    width: 430px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    
    margin: 100px;
   

   
}





.info-product{
    padding: 15px 15px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.info-product button{
    border-radius: 15px;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
}


 

/*TITULO*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;900&subset=latin&display=swap');

:root {
	--cream: hsl(38 47% 75%);
	--black: hsl(20 3% 19%);
	--red: #ea6962;
	--orange: #e78a4e;
	--yellow: #d8a657;
	--green: #a9b665;
	--aqua: #89b482;
	--ff: "Rubik", sans-serif;
}

html {
	font-family: var(--ff);
	font-size: 100%;
	block-size: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	text-rendering: optimizeSpeed;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body{
   
    font-family: 'Lato';
	block-size: 100%;
	padding: 5vw; /*5*/
    background-color: var(--cream);
	
    
}

div#tituloDP{
	max-inline-size: 80rem;
	margin-inline: auto;
	display: grid;
	background: linear-gradient(to top, var(--aqua), 
		var(--aqua) 2rem, 
		var(--green) 2rem, 
		var(--green) 4rem,
		var(--yellow) 4rem,
		var(--yellow) 6rem,
		var(--orange) 6rem,
		var(--orange) 8rem,
		var(--red) 8rem,
		var(--red) 10rem,
		var(--cream) 10rem);
	box-shadow:
		0 2.8px 2.2px hsl(20 3% 19% / 0.02),
		0 6.7px 5.3px hsl(20 3% 19% / 0.028),
		0 12.5px 10px hsl(20 3% 19% / 0.035),
		0 22.3px 17.9px hsl(20 3% 19% / 0.042),
		0 41.8px 33.4px hsl(20 3% 19% / 0.05),
		0 100px 80px hsl(20 3% 19% / 0.07);
}

div#tituloDP > * {
	padding: 1rem;
}

h1#titulo2DP {
	align-self: start;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	letter-spacing: .1em;
	text-transform: uppercase;
	display: grid;
	position: relative;
	isolation: isolate;
	background: linear-gradient(to right, var(--black), var(--black) 14rem, var(--yellow) 14rem);
	color: var(--yellow);
}

h1#titulo2DP span {
	font-size: 1.5rem;
	font-weight: 500;
}






h2 {
	align-self: center;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	display: grid;
	padding-block: 10vh 20vh;
}

h2#titulo3DP span:first-child {
	font-size: 7.5rem;
	font-weight: 900;
    font-family:cursive;
}

h2#titulo3DP span:last-child {
	font-size: 1.5rem;
	max-inline-size: 10ch
}

h2#titulo3DP + p {
	align-self: end;
	font-size: .875rem;
   
	font-weight: 500;
	line-height: 1.1;
	max-inline-size: 28ch;
	position: relative;
	isolation: isolate;
	background-color: var(--aqua);
}

h2#titulo3DP + p::before {
	content: "";
	position: absolute;
	width: 4rem;
	height: 100%;
	top: 0;
	left: 14rem;
	background-color: inherit;
	clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%);
	z-index: -1;
}


  
  

/*boton*/



.add-to-cart{
   
    font-size: 25px;
}


.containerDemas1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 11px;
    margin: 10px;
  
}

.tituloProducto1 {
    font-size: 25px;
    margin-top: 10px;
    padding: 30px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.info-product1 {
    padding: 20px;
    border: 10px solid beige;
    background-color:beige;
    border-radius: 8px;
    margin-top: 10px;
}

.add-to-cart1 {
    background-color: #76edb9;
    color: rgb(221, 26, 91);
    font-weight: bold;
    padding: 15px;
    border: 2px solid #27f099;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    margin-left: 200px;
}

/* Hover effect */
.add-to-cart1:hover {
    background: linear-gradient(to top, var(--orange) 8rem);
}